version: "3.8"

services:
  # Web Application (Yii2 PHP Application)
  web:
    image: 841507785504.dkr.ecr.ap-south-1.amazonaws.com/teleaon-tenant_portal
    container_name: tlai-web
    restart: always
    privileged: true
    ports:
      - "8080:80"
      - "443:443"
    depends_on:
      - mysql
      - mongo1
      - rabbitmq
    volumes:
      - ./app:/usr/share/nginx/html/uctenant
      - ./app/config/params.php:/usr/share/nginx/html/uctenant/config/params.php
      - ./nginx/conf.d/localhost.conf:/etc/nginx/conf.d/default.conf
    networks:
      - backend

  # MySQL Database
  mysql:
    image: mysql:5.7
    container_name: tlai-mysql
    restart: always
    hostname: mysql_db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: Gv9Xr2mQpLz7KbYt
      MYSQL_DATABASE: uctenant
      MYSQL_ROOT_HOST: "%"
    command:
      - --sql-mode=
      - --connect-timeout=43200
      - --max_allowed_packet=2048M
      - --net_buffer_length=512M
      - --max_connections=1500
    volumes:
      - ./mysql/data:/var/lib/mysql
    networks:
      - backend

  # MongoDB Replica Set - Node 1
  mongo1:
    image: mongo:7
    container_name: tlai-mongo1
    restart: always
    command: ["--replSet", "rs0"]
    ports:
      - "27017:27017"
    volumes:
      - ./mongo/rs0:/data/db
      - ./mongo/rs-init:/docker-entrypoint-initdb.d
    networks:
      - backend

  # MongoDB Replica Set - Node 2
  mongo2:
    image: mongo:7
    container_name: tlai-mongo2
    restart: always
    command: ["--replSet", "rs0"]
    ports:
      - "27018:27017"
    volumes:
      - ./mongo/rs1:/data/db
    networks:
      - backend

  # MongoDB Replica Set - Node 3
  mongo3:
    image: mongo:7
    container_name: tlai-mongo3
    restart: always
    command: ["--replSet", "rs0"]
    ports:
      - "27019:27017"
    volumes:
      - ./mongo/rs2:/data/db
    networks:
      - backend

  # RabbitMQ Message Broker
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: tlai-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"    # RabbitMQ main port
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: jhfsdtdhyPyHgRE
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend

  # phpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: tlai-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: Gv9Xr2mQpLz7KbYt
    depends_on:
      - mysql
    networks:
      - backend

  # FreeSWITCH VoIP Server
  freeswitch:
    image: 841507785504.dkr.ecr.ap-south-1.amazonaws.com/teleaon-freeswitch3
    container_name: tlai-freeswitch
    hostname: tlai-freeswitch
    restart: always
    privileged: true
    ports:
      - "5070:5060/udp"  # Map to host port 5070 to avoid conflict with OpenSIPS
      - "5070:5060/tcp"
      - "5071:5071/udp"
      - "5071:5071/tcp"
      - "5081:5081/udp"
      - "5081:5081/tcp"
      - "5061:5061/tcp"   # TLS
      - "16384-16484:16384-16484/udp"  # RTP ports
    networks:
      - backend
    ulimits:
      core: -1
    volumes:
      - ./portal_fs/freeswitch_files/scripts/config.lua:/usr/local/freeswitch/scripts/config.lua
      - ./portal_fs/freeswitch_files/vars.xml:/usr/local/freeswitch/conf/vars.xml
      - ./portal_fs/freeswitch_files/sounds:/usr/local/freeswitch/sounds
      - ./portal_fs/cert:/opt/
      - ./portal_fs/freeswitch_files/odbc.ini:/etc/odbc.ini
      - fs_media:/usr/local/freeswitch/recordings
      - voicemail:/media/voicemail
      - fslog:/usr/local/freeswitch/log
      - audio_libraries:/media/admin/audio-libraries
      - fax:/media/admin/fax

  # OpenSIPS SIP Proxy
  opensips:
    image: 841507785504.dkr.ecr.ap-south-1.amazonaws.com/teleaon-opensips
    container_name: tlai-opensips
    restart: always
    ports:
      - "5060:5060/udp"
      - "5060:5060/tcp"
      - "5064:5064/tcp"  # WebSocket
    volumes:
      - ./opensips/opensips.cfg:/usr/local/etc/opensips/opensips.cfg:ro
      - ./opensips/cert:/usr/local/etc/opensips/cert:ro
      - /etc/protocols:/etc/protocols:ro
      - /etc/services:/etc/services:ro
    networks:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"

  # Routing Engine
  routing_engine:
    image: 841507785504.dkr.ecr.ap-south-1.amazonaws.com/teleaon-routing_engine
    container_name: tlai-routing-engine
    hostname: routing_engine
    restart: always
    network_mode: host
    ulimits:
      core: -1
    volumes:
      - ./routing_engine/odbc.ini:/etc/odbc.ini
      - ./routing_engine/odbcinst.ini:/etc/odbcinst.ini
      - ./routing_engine/routing.log:/var/log/routing_engine/routing.log
    logging:
      options:
        max-size: 50m

  # FS_CURL - FreeSWITCH HTTP Integration
  fs_curl:
    image: 841507785504.dkr.ecr.ap-south-1.amazonaws.com/teleaon-fs_curl
    container_name: tlai-fs-curl
    restart: always
    ports:
      - "81:81"
    depends_on:
      - mysql
      - mongo1
      - rabbitmq
    volumes:
      - ./fs_curl/data/conf.d:/etc/nginx/conf.d
      - ./fs_curl/global_defines.php:/usr/share/nginx/html/fs_curl/global_defines.php
    networks:
      - backend
    logging:
      options:
        max-size: 20m

networks:
  backend:
    driver: bridge

volumes:
  rabbitmq_data:
    driver: local
  fs_media:
    driver: local
  voicemail:
    driver: local
  fslog:
    driver: local
  audio_libraries:
    driver: local
  fax:
    driver: local
