version: "3.8"

services:
  # Web Application (Yii2 PHP Application)
  web:
    image: 841507785504.dkr.ecr.ap-south-1.amazonaws.com/teleaon-tenant_portal
    container_name: tlai-web
    restart: always
    privileged: true
    ports:
      - "8080:80"
      - "443:443"
    depends_on:
      - mysql
      - mongo1
      - rabbitmq
    volumes:
      - ./app:/usr/share/nginx/html/uctenant
      - ./app/config/params.php:/usr/share/nginx/html/uctenant/config/params.php
    networks:
      - backend

  # MySQL Database
  mysql:
    image: mysql:5.7
    container_name: tlai-mysql
    restart: always
    hostname: mysql_db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: Gv9Xr2mQpLz7KbYt
      MYSQL_DATABASE: uctenant
      MYSQL_ROOT_HOST: "%"
    command:
      - --sql-mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
      - --connect-timeout=43200
      - --max_allowed_packet=2048M
      - --net_buffer_length=512M
      - --max_connections=1500
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/mysqld.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
    networks:
      - backend

  # MongoDB Replica Set - Node 1
  mongo1:
    image: mongo:7
    container_name: tlai-mongo1
    restart: always
    command: ["--replSet", "rs0"]
    ports:
      - "27017:27017"
    volumes:
      - ./mongo/rs0:/data/db
      - ./mongo/rs-init:/docker-entrypoint-initdb.d
    networks:
      - backend

  # MongoDB Replica Set - Node 2
  mongo2:
    image: mongo:7
    container_name: tlai-mongo2
    restart: always
    command: ["--replSet", "rs0"]
    ports:
      - "27018:27017"
    volumes:
      - ./mongo/rs1:/data/db
    networks:
      - backend

  # MongoDB Replica Set - Node 3
  mongo3:
    image: mongo:7
    container_name: tlai-mongo3
    restart: always
    command: ["--replSet", "rs0"]
    ports:
      - "27019:27017"
    volumes:
      - ./mongo/rs2:/data/db
    networks:
      - backend

  # RabbitMQ Message Broker
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: tlai-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"    # RabbitMQ main port
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: jhfsdtdhyPyHgRE
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend

  # phpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: tlai-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: Gv9Xr2mQpLz7KbYt
    depends_on:
      - mysql
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  rabbitmq_data:
    driver: local
