.grp_border {
    border: 0.5px solid black;
    padding: 14px;
}

.plus_icon {
    top: 24px
}

.fa-plus-circle {
    border-radius: 17px !important;
}

.fa-minus-circle {
    border-radius: 17px !important;
}

.btn_grp {
    margin-top: 15%;
}

@media only screen and (max-width: 767px) {
    .btn_grp {
        margin-left: 42%;
        padding-bottom: 5%;
    }
}