services:
  freeswitch:
    hostname: freeswitch-3
    container_name: freeswitch3
    network_mode: 'host'  # Keep host mode for freeswitch
    restart: always
    image: dockerregistry.ecosmob.net:5000/ecouc-freeswitch:release.1
    privileged: true
    ulimits:
      core: -1
    logging:
      options:
        max-size: 20m
    volumes:
      - ./freeswitch_files/scripts/config.lua:/usr/local/freeswitch/scripts/config.lua
      - ./freeswitch_files/vars.xml:/usr/local/freeswitch/conf/vars.xml
      - ./freeswitch_files/sounds:/usr/local/freeswitch/sounds
      - ./cert:/opt/
      - ./freeswitch_files/odbc.ini:/etc/odbc.ini
      - fs_media:/usr/local/freeswitch/recordings
      - voicemail:/media/voicemail
      - fslog:/usr/local/freeswitch/log
      - audio-libraries:/media/admin/audio-libraries
      - fax:/media/admin/fax

  web:
    image: dockerregistry.ecosmob.net:5000/meghuc-pbx:v9
    restart: always
    container_name: tenant_portal
    privileged: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./portal_files/params.php:/usr/share/nginx/html/uctenant/config/params.php
      - ./portal_files/nginx_conf/conf.d:/etc/nginx/conf.d
      - ./portal_files/new_tenant_del.sh:/usr/share/nginx/html/uctenant/new_tenant_del.sh
      - ./portal_files/new_tenant_gen.sh:/usr/share/nginx/html/uctenant/new_tenant_gen.sh
      # === SSL certificates, each domain mapped to unique paths ===
      #- /etc/letsencrypt/live/teleaon.ai/fullchain.pem:/opt/teleaon.ai.fullchain.pem:ro
      #- /etc/letsencrypt/live/teleaon.ai/privkey.pem:/opt/teleaon.ai.privkey.pem:ro
      - /etc/letsencrypt/live/tenant1.teleaon.ai/fullchain.pem:/opt/tenant1.fullchain.pem:ro
      - /etc/letsencrypt/live/tenant1.teleaon.ai/privkey.pem:/opt/tenant1.privkey.pem:ro
      - /etc/letsencrypt/live/gradlesol.com/fullchain.pem:/opt/gradlesol.fullchain.pem:ro
      - /etc/letsencrypt/live/gradlesol.com/privkey.pem:/opt/gradlesol.privkey.pem:ro
      #- /etc/letsencrypt/live/admin.teleaon.ai/fullchain.pem:/opt/admin.fullchain.pem:ro
      #- /etc/letsencrypt/live/admin.teleaon.ai/privkey.pem:/opt/admin.privkey.pem:ro
      - fs_media:/usr/share/nginx/html/uctenant/web/media/recordings
      - voicemail:/usr/share/nginx/html/uctenant/web/media/voicemail
      - fslog:/var/log/fslog
      - audio-libraries:/usr/share/nginx/html/uctenant/web/media/audio-libraries
      - pcap:/usr/share/nginx/html/uctenant/web/media/pcap
    # Use uc-connection network to communicate with your nginx container
    networks:
      - uc-connection
      - mysqldb
    # No extra_hosts needed since we're using the same network

volumes:
  fs_media:
  voicemail:
  fslog:
  audio-libraries:
  pcap:
  fax:

networks:
  uc-connection:
    external: true
  mysqldb:
    external: true
