.close {
    float: right;
    font-size: 25px;
    line-height: 1;
    color: #000;
    cursor: pointer;
}
.card-content.cyan.white-text {
    min-height: 175px !important;
}

label {
    font-size: 1rem;
}

.mrg-btn {
    margin-bottom: 1em;
}

.select2-container .select2-selection--single {
    display: block;
    padding-left: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 37px;
}

#page-length-option_length {
    display: none !important;
}